<div class="container">
  <div class="row">
    <div ></div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>address</th>
              <th>price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="row">
    <div >
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src='https://api.mapbox.com/styles/v1/mapbox/streets-v11.html?title=true&zoomwheel=false&access_token=pk.eyJ1Ijoic2F0eWVuZHJhYTIxIiwiYSI6ImNrNWh1YTQ0dTA3MnIzbHNjcXRkYWdmdzUifQ.xJxTVgK66yhSEEy1eyHXBw'>
        </iframe>
      </div>
    </div>
  </div>
</div>
