<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <form action="" method="POST" role="form">
        <legend>Register Your Space</legend>

        <label for="">Address</label>

        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="blockNo/ HouseNo">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="Street Name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="city">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="State">
        </div>

        <div class="form-group">
          <input type="number" class="form-control" id="" placeholder="pincode">
        </div>

        <div class="form-group">
          <label for="">Geolocation</label>
          <input type="text" readonly class="form-control" id="" placeholder="Latitude">
          <input type="text" readonly class="form-control" id="" placeholder="Longitute">
          <button type="button" class="btn btn-primary">Get Geo Location</button>

        </div>

        <div class="form-group">
          <label for="">Vehicle Type</label>
          <input type="text" class="form-control" id="" placeholder="Vehicle Type">
        </div>

        <div class="form-group">
          <label for="">Capacity</label>
          <input type="number" class="form-control" id="" placeholder="No of cars">
        </div>

        <div class="form-group">
          <label for="">Rental Charges per month</label>
          <input type="number" class="form-control" id="" placeholder="rent per month">
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <input type="number" class="form-control" id="" placeholder="Description">
        </div>

        <div class="form-group">
          <label for="">Image</label>
          <input type="number" class="form-control" id="" placeholder="Image">
          <button type="button" class="btn btn-primary">Load Image</button>

        </div>

        <button type="submit" class="btn btn-primary">Register my property</button>
      </form>



    </div>
    <div class="col-md-3"></div>

  </div>


</div>
