<div class="container">
  <div class="row">
    <div class="col-md-10">
      
      <div class="navbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
          </li>
          <li>
            <a href="/">Rent-out my space</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-2">
      <div class="navbar">
        <ul class="nav navbar-nav">
          <li >
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>
<router-outlet></router-outlet>

<div class="jumbotron" >
  Contact Us
</div>