<div class="container">
    <div class="jumbotron" style="background-color:lightblue;">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                  
                   <span class="label" style="font-size: 40px;">Book Parking Near You</span>
                   <br>
                   
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">Go!</button>
                        </span>
                    </div>
                  
                </div>

                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>